body {
  margin: 0px;
}
.logo {
  width: 45px;
  height: 42px;
  padding: 17px 25px;
  float: left;
}
.topup {
  width: 100%;
  height: 75px;
  position: fixed;
}
.pro {
  text-decoration: none;
  padding: 28px 16px;
  float: left;
  color: #000;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  
}
.topright {
  text-decoration: none;
  float: right;
  border-color: rgb(21, 32, 43);
  margin: 13px 5px;
}
.tu {
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(4, 170, 109);
  color: white;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  border-color: white;
}
.re {
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;

  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  background-color: #fff4a3 !important;
  color: black;
  border-color: white;
}
.ex {
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  background-color: #ffc0c7 !important;
  color: black;
  border-color: white;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
}
.vi {
  border-radius: 25px;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 20px 10px 20px;
  background-color: #282a35 !important;
  color: white;
  border-color: white;
}
.navbar {
  margin-top: 75px;
  background-color: #282a35;
  color: #f1f1f1;
  height: 30px;
  width: 100%;
  position: fixed;
  padding-top: 6px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 17px;
  overflow: auto;
}

.navbar a:hover {
  background-color: #000;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 10px;
}

div {
  float: right;
}

.one {
  background-color: #04aa6d;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.sidebar {
  margin-top: 100px;
  height: 100%;
  width: 160px;
  position: fixed;
  background-color: #e7e9eb;
  overflow: hidden;
  padding-top: 20px;
}
a {
  padding-left: 20px;
}
.sidebar a {
  font-family: Segoe UI, Arial, sans-serif;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: inherit;
  display: block;
}

.sidebar a:hover {
  color: #000000;
  background-color: #cccccc;
}
.yash {
  padding-right: 10px;
}
.yash2 {
  padding-left: 10px;
}
.yash3 {
  padding-right: 10px;
}

.sidebarr {
  margin-top: 112px;
  width: 220px;
  height: 100%;
  float: left;
  position: fixed;
  background-color: #e7e9eb;
  overflow-y: scroll;
}
.sidenav {
  font-size: 21px;
  font-weight: 400;
  padding-left: 16px;
  color: black;
  font-family: "Segoe UI", Arial, sans-serif;
}
.ancorr {
  display: block;
  padding: 2px 1px 1px 16px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: "Segoe UI", Arial, sans-serif;
}
.bigheading {
  padding-top: 120px;
  padding-right: 630px;
  font-size: 42px;
  position: relative;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 30px 0;
  display:block;
  position:none;
}

.homeeeeeee {
  background-color: #04aa6d;
  text-decoration: none;
  border-color: #04aa6d;
  font-size: 18px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
}
.homeeeeeeee {
  background-color: #04aa6d;
  text-decoration: none;
  border-color: #04aa6d;
  float: right;
  font-size: 18px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 20px;
  margin-right: 220px;
  border-radius: 5px;
}
.hr {
  /* margin-top: 20px -16px; */
  border: 0;
  border-top: 1px solid #eee;
  margin: 40px;
}
.box {
  display: block;
  position: relative;
  width: 66.2%;
  height: 180px;
  margin-right: 200px;

  background-color: #d9eee1;
}
.font {
  font-family: Verdana, sans-serif;
  padding-left: 15px;
  font-size: 15px;
}
.start {
  text-decoration: none;
  background-color: #04aa6d;
  border-color: #04aa6d;
  float: right;
  font-size: 18px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 500px;
  margin-top: 40px;
}

#hoverr a:hover {
  background-color: #f1f1f1;
}

/* .what{
  padding-right: 630px;
  font-size: 35px;
  position: relative;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 30px 60px;
} */
ul {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.whattt {
  padding-left: 300px;
  margin-top: 0;
  line-height: 1.5rem;
  font-size: 20px;
  font-weight: 400;
  position: static;
  font-family: Verdana, sans-serif;
}
.whhhh {
  margin-right: 190px;
 
}
code {
  color: crimson;
  background-color: #d9eee1;
}
.boxxxx {
  margin-right: 285px;
}
.default {
  font-size: 32px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}
.bol2 {
  width: 100%;
  border: none;
  background-color: #E7E9EB;
  padding: 0px;
}

.bol2 td {
  border: 3px solid white;
  padding: 8px;
  text-align: center;
}
.bgmi{
  margin-top: 65px;
}
